EtherDuels/EtherDuels/EtherDuels/bin
EtherDuels/EtherDuels/EtherDuels/obj
EtherDuels/Assets/bin
EtherDuels/Assets/obj
EtherDuels/GameTest/bin
EtherDuels/GameTest/obj
TestTest/TestResults
EtherDuels/TestResults
*.cachefile
